@font-face {
  font-family: DIN Pro;
  src: url("assets/fonts/DINNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: DIN Pro;
  font-weight: bold;
  src: url("assets/fonts/DINNextLTPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: DIN Pro Heavy;
  font-weight: heavy;
  src: url("assets/fonts/DINNextLTPro-Heavy.otf") format("opentype");
}

.background {
  position: relative;
  width: 515px;
  height: 1000px;
  background-color: #f9f9f9;
  text-align: center;
}

.header {
  text-align: center;
  top: 600px;
}

.footer {
  text-align: center;
}

/* flexbox div employed to ensure responsive design for mobile and web */

.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.s3-carousel {
  position: relative;
  width: 515px;
  height: 800px;
  background-color: #f9f9f9;
  /* border: 3px solid grey; */
}

.column-component {
  /* flex-grow: 8; */
  position: relative;
  width: 515px;
  height: 1000px;
  background-color: #f9f9f9;
  text-align: center;
  line-height: 600px;
  /* border: 3px solid grey; */
}

.s3-label {
  letter-spacing: 1px;
  border-radius: 100px;
  background-color: #ff5152;
  color: #fff;
  left: 15px;
  top: 15px;
  width: 70px;
  position: absolute;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.carousel__cell {
  height: 600px;
  width: 380px;
  top: 100px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight : thin;
  text-align: center;
  transform: translate(-350px);
  transition: transform 0s cubic-bezier(.86,0,.07,1) 800ms, opacity 800ms cubic-bezier(.895,.03,.685,.22);
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.carousel__cell.active  {
  transform: translate(54px);
  transition: transform 800ms cubic-bezier(.86,0,.07,1) 0s;
}

.carousel__cell.transparent  {
  opacity: 0;
}

.carousel__cell>div p {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.container {
  background-color: white;
}

.hard-img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.carousel__cell img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

.money {
  position: absolute;
  left: 150px;
  top: 200px;
}

.earning {
  position: absolute;
  left: 150px;
  top: 400px;
}

/* Dominos */
.carousel__cell:nth-of-type(1) .logo {
  left: 125px;
  top: 300px;
  width: 130px;
  position: absolute;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 1px;;

}

/* FootLocker */
.carousel__cell:nth-of-type(2) .logo {
  left: 125px;
  top: 300px;
  width: 130px;
  position: absolute;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 1px;;
}

/* Hotels */
.carousel__cell:nth-of-type(3) .logo {
  left: 125px;
  top: 300px;
  width: 130px;
  position: absolute;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 1px;;
}